@import '../../app.scss'; 

.messenger {
    @include themify($themes){
        height: calc(100vh - 60px);
        display: flex;
        background-color: themed('bgColor');
        color: themed('textColor');

        .chat-menu{
            flex: 3.5;
            .chat-menu-input {
                width: 90%;
                padding: 10px 0;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid themed('border');
                color: themed('textColor');
            }
        }
        .chat-box{
            flex: 5.5;
            background-color: themed('bgSoft');
            color: themed('textColor');

            .chat-box-wrapper {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               position: relative;

               .chat-box-top {
                height: 100%;
                overflow-y: scroll;
               }
            .chat-box-bottom {
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                textarea {
                    width: 80%;
                    height: 90px;
                    padding: 10px;
                }

                button {
                    width: 70px;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background: teal;
                    color: white;
                }
            }

            span {
                position: absolute;
                top:30%;
                font-size: 50px;
                text-align: center;
            }
        }
        }
        .chat-online{
            flex: 3;
            
        }
        .chat-menu-wrapper, .chat-box-wrapper, .chat-online-wrapper{
            padding: 10px;
            height: 100%;
           }
    }
}