@import '../../app.scss';

.leftbar {
    @include themify($themes){
    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed('bgColor');
    color: themed('textColor');
    cursor: pointer;
    @include mobile {
        display: none;
      }
      


    &::-webkit-scrollbar{
        display: none;
    }
    .container {
       padding: 20px;

        hr {
            margin: 20px 0;
            border: none;
            height: 0.5px;
            background-color: themed('border');
        }
        .menu{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .user {
                display: flex;
                align-items: center;
                gap: 15px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    
                }
                span{
                    font-size: 14px;
                }
            }
            .item{
                display: flex;
                align-items: center;
                gap: 15px;
                img{
                    width: 30px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}
}